.self {
  color: var(--light);
  display: flex;

  img {
    justify-content: center;
    height: 4rem;
    width: auto;
    margin-right: 20px;
  }

  h1 {
    font-size: 3.5rem;
    font-family: 'Quicksand', 'Avenir', Helvetica, Arial, sans-serif;
  }

  & .primary {
    color: var(--primary);
  }

  & .light {
    color: var(--light);
  }
}



