@import url('https://fonts.googleapis.com/css?family=Quicksand|Open+Sans');

body {
  font-family: 'Avenir', 'Open Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.page-enter-active, .page-leave-to {
  transition: opacity .3s;
}
.page-enter, .page-leave-active {
  transition: opacity .3s;
  opacity: 0;
}
