@import url('https://fonts.googleapis.com/css?family=Quicksand|Open+Sans');

body {
  font-family: 'Avenir', 'Open Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

